@font-face {
    font-family: 'Open Sans';
    src: url('opensans-regular.woff2') format('woff2'),
         url('opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans';
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

.hint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    pointer-events: none;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

#hint2 {
    animation-delay: -4s;
}

#hint3 {
    animation-delay: -2s;
}